<a href="https://colab.research.google.com/github/harmanbajwa2954/python_practice/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Question
By Harmanpreet Singh

**Q1. Simple Interest**

In [ ]:
p = float(input("Enter the Principle Amount : "))
r = float(input("Enter rate of interest : "))
t = float(input("Enter the duration (in Years) : "))
si = (p*r*t)/100
print(f"The Simple Interest after {t} years with rate {r}% is {si}")

Enter the Principle Amount : 120000
Enter rate of interest : 8.3
Enter the duration (in Years) : 2.5
The Simple Interest after 2.5 years with rate 8.3% is 24900.000000000004

**Q2. Compound Interest**

In [ ]:
p = float(input("Enter the Principle Amount : "))
r = float(input("Enter the rate of Interest : "))
t = float(input("Enter the duration (in Years) : "))

amount = p*((1+r/100)**t)

ci = amount-p

print(f"The Total amount after {t} years with {r}% of interest is {amount}.")
print(f"The Compound Interest will be {ci}")

Enter the Principle Amount : 50000
Enter the rate of Interest : 6.2
Enter the duration (in Years) : 3
The Total amount after 3.0 years with 6.2% of interest is 59888.516400000015.
The Compound Interest will be 9888.516400000015

**Q3. Area of Circle**

In [ ]:
import math
radius = float(input("Enter the radius of Circle :"))
area = math.pi * radius * radius
print(f"The area of circle with radius of {radius} units is \n {area} sq.units")

Enter the radius of Circle :7
The area of circle with radius of 7.0 units is
 153.93804002589985 sq.units

**Q.4 Area of Triangle**

In [ ]:
base = float(input("Enter base of triangle : "))
height = float(input("Enter height of triangle : "))
areaTriangle = 0.5 * base * height
print("Area of Triangle : ", areaTriangle)

Enter base of triangle : 8
Enter height of triangle : 5
Area of Triangle :  20.0

**Q5. Area of Rectangle**

In [ ]:
length = float(input("Enter length of Triangle : "))
breadth = float(input("Enter breadth of Triangle : "))
areaRect = length*breadth
print("Area of Rectangle : ",areaRect)

Enter length of Triangle : 6.3
Enter breadth of Triangle : 4.6
Area of Rectangle :  28.979999999999997

**Q6. Distance Conversion**

Speed and time to distance

In [ ]:
speed = float(input("Enter Speed in kmph : "))
time = float(input("Enter time in hours : "))
distance = speed*time
print(f"The distance covered will be {distance}km")

Enter Speed in kmph : 65
Enter time in hours : 0.25
The distance covered will be 16.25km

**Q7. Calculate Speed**

In [ ]:
dist = float(input("Enter the distance in Km : "))
time2 = float(input("Enter time in hours : "))
print(f"The speed will be {dist/time2} kmph")

Enter the distance in Km : 18
Enter time in hours : 0.5
The speed will be 36.0 kmph

**Q8. Body Mass Index (BMI)**

In [ ]:
H = float(input("Enter Height in cm : "))
W = float(input("Enter weight in kg : "))
BMI = (W/(H*H))*10000
print(f"The BMI is {BMI}")

Enter Height in cm : 175
Enter weight in kg : 75
The BMI is 24.489795918367346

**Q8. Temprature Conversion**

Celsius to Fahrenheit

In [ ]:
C = float(input("Enter the temprature in Celsius : "))
F = ( (9/5) * C ) + 32
print("The temprature in Fahrenheit will be ",F,"F")

Enter the temprature in Celsius : -70
The temprature in Fahrenheit will be  -94.0 F

**Q10. Perimeter of Rectangle**

In [ ]:
Length = float(input("Enter the length of Rectangle : "))
Width = float(input("Enter the Width of Rectangle : "))
perimeter = 2*(Length + Width)
print("The perimeter of Rectangle is : ", perimeter)

Enter the length of Rectangle : 56
Enter the Width of Rectangle : 35
The perimeter of Rectangle is :  182.0

# Practice Questions on Loops

**Q1. Print all prime numbers between 1 to N**

In [ ]:
n = int(input("Enter the number : "))
for num in range(0, n):
    if num >= 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num, end=" ")

Enter the number : 10
1 2 3 5 7

**Q2. Print the sum of all prime numbers between A to B.**

In [ ]:
A = int(input("Enter the first number : "))
B = int(input("Enter second number : "))
sum = 0
for num in range(A, B):
    if num >= 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            sum += num

print(f"The sum of all prime numbers between {A} and {B} is {sum}")

Enter the first number : 5
Enter second number : 25
The sum of all prime numbers between 5 and 25 is 95

**Q3. Count how many numbers between 1 to N are divisible by 3 or 5.**

In [ ]:
n = int(input("Enter the range limit : "))
count = 0
for i in range(1,n):
  if(i%3==0 or i%5==0):
    count += 1
    print(i)
print(f"Total {count} numbers are divisible by 3 or 5 between 1 to {n}")

Enter the range limit : 10
3
5
6
9
Total 4 numbers are divisible by 3 or 5 between 1 to 10

**Q4. Generate a multiplication table from 1 to 10 (nested loops).**

In [ ]:
for i in range(1,11):
  print("Table of ",i)
  for j in range(1,11):
    print(f"{i} * {j} = {i*j}")
  print(" ")

Table of  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Table of  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Table of  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Table of  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Table of  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Table of  6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Table of  7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Table of  8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Table of  9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Table of  10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**Q5. Check if a string is a palindrome using loop.**

In [ ]:
s = input("Enter the string to check : ")
j = -1
flag = 0
for i in range(len(s)):
  if(s[i] != s[j]):
    flag = 1
    break
  j = j-1

if(flag == 1):
  print("The string is not a palindrome.")
else:
  print("The string is a pallindrome.")

Enter the string to check : )(()
The string is a pallindrome.

**Q6. Find sum of digits until the result becomes a single digit (e.g., 987 →
9+8+7 = 24 → 2+4 = 6).**

In [ ]:
n = int(input("Enter number: "))

while n >= 10:
    p = 0
    temp = n
    while temp > 0:
        p += temp % 10
        temp //= 10
    n = p
    print(n)

print("Single digit result:", n)

Enter number: 10256
14
5
Single digit result: 5

**Q7. Check if a number is an Armstrong number.**

In [ ]:
arm = int(input("Enter the number to check : "))
arm_digit = len(str(arm))
temp = arm
sum_of_powers = 0

while temp > 0:
  digit = temp%10
  sum_of_powers += digit ** arm_digit
  temp //= 10

if(sum_of_powers == arm ):
  print('Its is an armstrong number')
else:
  print('It is not an armstrong number')

Enter the number to check : 153
Its is an armstrong number

**Q8. Generate the first N prime numbers.**

In [ ]:
prime_n = int(input("Enter the number : "))
for num in range(0,prime_ n):
    if num >= 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num, end=" ")

Enter the number : 28
1 2 3 5 7 11 13 17 19 23

**Q9. Generate the first N Fibonacci numbers using loop.**

In [ ]:
fibo_n = int(input("Enter the no. of terms to print : "))
n1, n2 = 0, 1
for i in range(1, fibo_n):
  print(n1,end =" ")
  n1 , n2 = n2 , n2+n1

Enter the no. of terms to print : 15
0 1 1 2 3 5 8 13 21 34 55 89 144 233

**Q10. Count how many even numbers are between 1 and N.**

In [ ]:
no_even = int(input("Enter the range limit : "))
print(f"There are {(no_even-1)//2} even numbers between 1 and {no_even}")

Enter the range limit : 11
There are 5 even numbers between 1 and 11

**Q11. Count how many odd numbers are between 1 and N.**

In [ ]:
no_odd = int(input("Enter the range limit : "))
print(f"There are {no_odd//2} odd numbers between 1 and {no_odd}")

Enter the range limit : 11
There are 5 odd numbers between 1 and 11

**Q12. Reverse a number (e.g., 123 → 321).**

In [ ]:
term = int(input("Enter the number to reverse : "))
reverse = 0
while term > 0:
  temp = term%10
  reverse = reverse*10 + temp
  term //= 10
print(f"The reverse number is {reverse}")

Enter the number to reverse : 45689
The reverse number is 98654

**Q13.For numbers 1 to N:**
* If divisible by 3 print "Fizz"
* If divisible by 5 print "Buzz"
* If divisible by both 3 and 5 print "FizzBuzz"
* Else print number

In [ ]:
num_range = int(input("Enter the range limit : "))
for i in range(1,num_range):
  if i%3==0 and i%5==0 :
    print(" FizzBuzz ")
  elif i%3 == 0:
    print(" Fizz")
  elif i%5 == 0:
    print(" Buzz")
  else:
    print(i,end=" ")

Enter the range limit : 16
1 2  Fizz
4  Buzz
 Fizz
7 8  Fizz
 Buzz
11  Fizz
13 14  FizzBuzz

### Practice Questions on Strings